<section id="slider_wrapper">
  <div id="slider" class="flexslider">
    <ul class="slides">
      <li class="slide" id="slide1">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              beautiful apps. in {n} ways.
            </h1>
            <h2>
              in the cloud. on any devices. anywhere. anytime.
            </h2>
          </div>
        </div>
      </li>
      <li class="slide" id="slide2">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              beautiful data. in {n} ways.
            </h1>
            <h2>
              produced. consumed. analyzed. presented. always in a better way.
            </h2>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="main">
  <section class="headline">
    <div class="container">
        <h3>build intelligent apps &amp; tools</h3>
        <h4>making sense of the beautiful data</h4>
    </div>
  </section>
  <section class="features">
    <div class="container">
    <div class="row">
      <div class="feature col-sm-4 col-md-4">
        <figure>
          <i class="fa fa-gears"></i>
        </figure>
        <h3>All about design</h3>
        <p>Users would love to use the software designed just for them. Our design approach follows the strategies of
          <a href='http://http://www.lukew.com/resources/mobile_first.asp' target="_blank">mobile first</a>,
          <a href='http://www.hesketh.com/thought-leadership/our-publications/progressive-enhancement-and-future-web-design' target="_blank">progressive enhancement</a>,
          and <a href='http://alistapart.com/article/responsive-web-design' target="_blank">responsive web design</a>.
        </p>
      </div>
      <div class="feature col-sm-4 col-md-4">
        <figure>
          <i class="fa fa-cloud"></i>
        </figure>
        <h3>In the cloud</h3>
        <p>We leverage the power of the cloud computing. We develop and host our software in the cloud.</p>
      </div>
      <div class="feature col-sm-4 col-md-4">
        <figure>
          <i class="fa fa-bolt"></i>
        </figure>
        <h3>On the cutting edge</h3>
        <p>Our technology stack includes <a href='http://rubyonrails.org/' target="_blank">Ruby on Rails</a>,
          <a href='http://en.wikipedia.org/wiki/NoSQL' target="_blank">NoSQL</a>,
          <a href='http://emberjs.com/' target="_blank">Ember.js</a>,
          <a href='http://nodejs.org/' target="_blank">Node</a>,
          <a href='http://jquerymobile.com/' target="_blank">JQuery Mobile</a>, and HTML5.
        </p>
      </div>
    </div>
    </div>
  </section>
  </div>
