<section id="slider_wrapper">
  <div id="slider" class="flexslider">
    <ul class="slides">
      <li class="slide" id="slide1">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              beautiful apps. in {n} ways.
            </h1>
            <h2>
              in the cloud. on any devices. anywhere. anytime.
            </h2>
          </div>
        </div>
      </li>
      <li class="slide" id="slide2">
        <div class="container">
          <div class="carousel-caption">
            <h1>
              beautiful data. in {n} ways.
            </h1>
            <h2>
              produced. consumed. analyzed. presented. always in a better way.
            </h2>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<div class="main">
  <section class="headline">
    <div class="container">
        <h3>build intelligent apps &amp; tools</h3>
        <h4>making sense of the beautiful data</h4>
    </div>
  </section>
  <section class="features">
    <div class="container">
    <div class="row">
      <div class="feature col-sm-4 col-md-4">
        <img alt="responsive" src="images/m.png">
        <h3>Mobile first</h3>
        <p></p>
      </div>
      <div class="feature col-sm-4 col-md-4">
        <img alt="responsive" src="images/c.png">
        <h3>In the cloud</h3>
        <p></p>
      </div>
      <div class="feature col-sm-4 col-md-4">
        <img alt="responsive" src="images/o.png">
        <h3>Open Sources</h3>
        <p></p>
      </div>
    </div>
    </div>
  </section>
  </div>

