<section class="footer_wrapper">
  <div class="container">
    <div class="row">
      <div class="footer col-sm-4 col-md-4">
        <h3>About us</h3>
        <p>We are a leading developer of modern applications and tools, specializing in big data processing. We are based in <a href="http://en.wikipedia.org/wiki/Research_Triangle_Park", target="_blank">the RTP area in North Carolina</a>.
        </p>
      </div>
      <div class="footer col-sm-4 col-md-4">
        <h3>Technical support</h3>
        <p>
          New feature request? Enhancement? Bug?
        </p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:support@dianyware.com?Subject=technical support">support@dianyware.com</a></p>
      </div>
      <div class="footer col-sm-4 col-md-4">
        <h3>General questions</h3>
        <p>
          Work together? Have fun and challenged projects? Just would like to talk?
        </p>
        <p><i class="fa fa-envelope"></i> <a href="mailto:contact@dianyware.com?Subject=general">contact@dianyware.com</a></p>
      </div>
    </div>
  </div>
</section>

<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12"> &copy; nWayData. All rights reserved.</div>
    </div>
  </div>
</section>
